/*
font-family: 'DM Serif Display', serif;
font-family: 'Roboto', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


header {
  max-width: 300px;
  position: absolute;
  z-index: 1;
  background-color: transparent;
  width: 100%;
}

header ul {
  position: relative;
  top: 50px;
  left: 50px;
}

header a {
  text-decoration: none;
  color: rgb(18, 29, 75);
}

header li {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 800;
  letter-spacing: 3px;
  list-style: none;
  line-height: 20px;
}

#hero-section {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url(hero_bg.png), radial-gradient(#fff, #e0e0e0);
  width: 100%;
  height: 500px;
  filter: grayscale(100%);
  box-shadow: 0 0px 15px 3px #00000050;
}

#title {
  font-weight: 300;
  font-size: 40px;
  display: inline;
  position: relative;
  left: 400px;
  top: 210px;
  color: rgb(18, 29, 75);
  ;
}

#title b {
  font-weight: 900;
}

#subtitle {
  font-size: 13px;
  font-weight: 400;
  display: inline;
  position: relative;
  left: 275px;
  top: 230px;
}

#second-section {
  width: 100%;
  height: 500px;
  background: radial-gradient(rgb(118, 121, 134), rgb(14, 19, 42));
  color: white;
}

#title2,
#title2-2 {
  text-transform: uppercase;
  font-weight: 300;
  line-height: 25px;
  font-size: 30px;
  position: relative;
  left: 50px;
  top: 50px;
  max-width: 350px;
}

#title2 b,
#title2-2 b {
  font-weight: 900;
}

#title2 i {
  font-family: 'DM Serif Display', sans-serif;
  font-size: 50px;
}

#title2-2 {
  position: relative;
  left: 97px;
}

#img-div {
  display: flex;
  width: 100%;
  max-width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 180px;
  position: absolute;
  z-index: 1;
}

#image {
  width: 100%;
  max-width: 300px;
  height: 250px;
  display: flex;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px #00000025;
}

#image-caption {
  font-size: 10px;
  margin: 10px;
  color: #000;
}

#early-life {
  background: linear-gradient(0deg, #e0e0e0, #fff);
  color: #000;
  max-width: 400px;
  position: relative;
  bottom: -55px;
  left: 250px;
  padding: 70px 50px 70px 270px;
  border-radius: 10px;
  z-index: 0;
  text-align: left;
  box-shadow: 0 0 10px 3px #f4f4f425;
}

@media (max-height: 1580px) and (max-width: 800px) {
  header {
    max-width: 300px;
    position: absolute;
    z-index: 1;
    background-color: transparent;
    width: 100%;
  }

  header ul {
    position: relative;
    top: 50px;
    left: 50px;
  }

  header a {
    text-decoration: none;
    color: #e0e0e0;
  }

  header li {
    text-transform: uppercase;
    text-align: center;
    font-size: 11px;
    font-weight: 800;
    letter-spacing: 3px;
    list-style: none;
    line-height: 20px;
  }

  #call-to-action {
    background-image: linear-gradient(50deg, #fff, #b3b3b3);
    padding: 20px 30px;
    margin: 250px auto;
    z-index: 2;
    position: relative;
    left: 140px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 15px 3px #f4f4f475;
    }

#call-to-action:active {
  background-image: none;
  background-color: #fff;
  box-shadow: 0 0 10px 5px #00000050;
}


  #hero-section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: radial-gradient(#00000090, #00000090), url(hero.jpg);
    width: 100%;
    max-width: 500px;
    height: 500px;
    filter: grayscale(150%);
    box-shadow: 0 0px 15px 3px #00000050;
  }

  #title {
    font-weight: 300;
    font-size: 40px;
    display: inline;
    color: #fff;
    text-align: center;
    position: relative;
    left: 100px;
    top: 420px;

  }

  #title b {
    font-weight: 900;
  }

  #subtitle {
    font-size: 13px;
    font-weight: 400;
    display: inline;
    position: relative;
    left: -40px;
    top: 440px;
    color: #fff;
  }


  #second-section, #final-section {
    width: 100%;
    height: 1200px;
    background: rgb(14, 19, 42);
    color: white;
  }

  #title2,
  #title2-2{
    text-transform: uppercase;
    font-weight: 300;
    line-height: 65px;
    font-size: 30px;
    position: relative;
    left: 125px;
    top: 50px;
    max-width: 250px;

  }

  #title2 b,
  #title2-2 b, 
  #title3 b,
  #title3-2 b{
    font-weight: 900;
  }

  #title2 i{
    font-family: 'DM Serif Display', sans-serif;
    font-size: 50px;
    position: relative;
    top: 40px;
    left: -95px;

  }

  #title2-2{
    position: relative;
    top: 45px;
    left: 123px;
    max-width: 160px;
    border-bottom: 2px solid #fff;
  }

  #img-div {
    display: flex;
    width: 100%;
    max-width: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 100px;
    position: absolute;
    z-index: 1;
  }

  #image {
    width: 100%;
    max-width: 200px;
    height: 250px;
    display: flex;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px #00000050;
  }

  #image-caption {
    font-size: 10px;
    margin: 10px;
    color: #000;
  }

  #early-life {
    background: linear-gradient(0deg, #e0e0e0, #fff);
    color: #000;
    max-width: 300px;
    position: relative;
    top: 220px;
    left: 25px;
    padding: 170px 30px 30px 30px;
    border-radius: 10px;
    z-index: 0;
    text-align: justify;
    box-shadow: 0 0 15px 5px #f4f4f450;
  }

  #final-section {
    background-color: #f4f4f4;
    color: rgb(14,19,42);
  }
  
  #title3,
  #title3-2,
  #title3-3{
    text-transform: uppercase;
    font-weight: 300;
    line-height: 65px;
    font-size: 30px;
    position: relative;
    left: 85px;
    top: 50px;
    max-width: 250px;

  }
  #title3-2 {
    margin-bottom: -10px;
  }
  #title3-2, #title3-3{
    position: relative;
    top: 68px;
    left: 107px;
    max-width: 160px;
    line-height: 7mm;
   text-align: center;
   
  }
  #title3 i, #title3-3 i{
    font-family: 'DM Serif Display', sans-serif;
    font-size: 50px;
    position: relative;
    top: 40px;
    right: 150px;

  }
  #title3-3 i {
    border-bottom: 2px solid rgb(14,19,42);
  }


}
